<div class="alert alert-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4 image-margin">
        <h3 class="app-clickable" [routerLink]="['/home']">Movie Browser</h3>
      </div>
      <div class="col-md-7">
        <form action="" (submit)="submitHandler($event)">
          <input [(ngModel)]="searchString" type="text" name="queryTerm" autofocus placeholder="Search Movie..."
            class="form-control">
        </form>
      </div>
      <!-- TODO: <div class="col-md-1 image-margin"> <h class="app-clickable" [routerLink]="['/home']">About</h3></div> -->
    </div>
  </div>
</div>