<div class="row">
  <div class="card col-md-4 col-sm-6 col-xs-12" *ngFor='let movie of movieList'>
    <div class="alert alert-info app-clickable" [routerLink]="['/movie-detail',movie.imdbID]">
      <div class="card-body" >
        <h5 class="card-title">
          {{movie.Title}}
        </h5>
        <p>
          {{movie.Year }}
        </p>
        <img [src]="movie.Poster" [alt]="movie.Title" class="img img-thumbnail" class="card-img-top">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="isFound">
  <h3 class="text-center text-info">No results found for "{{searchString}}"</h3>
</div>